
.hero {
    display: flex;
    gap: 3rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 50px 30px 50px 50px;
    min-height: calc(100vh - 260px);
  }


.hero .dr-img {
   max-height: 100%;
   width: auto;
   float: left;
   padding: 25px 15px;
}

  .bio-matt {
    margin-top: 30px;
  }

  .bio-matt > h1 {
    display: inline;
    line-height: 36px;
    font-size: 2rem;
    color: #777;
    font-weight: 300;
    
  }
  
  .hero p {
    padding: 0.5rem 0;
    font-size: 18px;
    line-height: 28px;
    color: #777; 
  }

  @media screen and (max-width: 960px) {

    .hero {
      flex-direction: column;
      max-width: 100%;
      align-items: center;
    }
    
    .hero .dr-img {
      height: 100%;
      width: 100%;
      padding: 5px;
      flex-direction: column;
    }

    .bio-matt {
      max-width: 100%;
      flex-direction: column;
      margin-top: 1px;
      margin-bottom: 1px;
      text-align: justify;

    }

    .bio-matt > h1 {
      flex-direction: column;
      float: left;
      padding-bottom: 15px;
    }
  }


    

   
   
  
