/* .bio-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.bio-container > h1 {
    color: #474242;
    font-size: 100px;
    margin-top: -300px;
} */
/* .hero {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: left;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  } */

/* section {
    min-height: 100vh; /* minus the height of the footer */

.hero {
    display: flex;
    /* align-items: left; */
    gap: 3rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 50px 30px 50px 50px;
    min-height: calc(100vh - 260px);
  }


.hero .dr-img {
   /* height: 35rem; */
   /* height: auto; */
   max-height: 100%;
   width: auto;
   float: left;
   padding: 25px 15px;
   /* margin-right: 15px; */
   /* border-radius: 200% */
}

/* .hero img {
    height: 39rem;
    width: 39rem;
    border-radius: 50%;
} */

/* .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
  } */
  
  /* .bio h1 {
    margin-bottom: var(--top-bottom);
  } */

  .bio-matt {
    margin-top: 30px;
  }

  .bio-matt > h1 {
    display: inline;
    line-height: 36px;
    font-size: 2rem;
    color: #777;
    font-weight: 300;
    
  }
  
  .hero p {
    /* line-height: var(--line-height); */
    padding: 0.5rem 0;
    font-size: 18px;
    line-height: 28px;
    color: #777; 
  }

  @media screen and (max-width: 960px) {

    .hero {
      /* padding: 10px 20px; */
      flex-direction: column;
      /* height: auto; */
      max-width: 100%;
      align-items: center;
    }
    
    .hero .dr-img {
      height: 100%;
      width: 100%;
      padding: 5px;
      flex-direction: column;
    }

    .bio-matt {
      /* padding: 0px 15px 15px 15px; */
      max-width: 100%;
      flex-direction: column;
      /* align-items: center; */
      margin-top: 1px;
      margin-bottom: 1px;
      text-align: justify;

    }

    .bio-matt > h1 {
      flex-direction: column;
      float: left;
      padding-bottom: 15px;
    }
  }


    

   
   
  
