form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;

}

#fcf-form {
  background: #F9F9F9;
  padding: 25px;
  margin: 60px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 1px solid orange;
}

#fcf-form h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.fcf-form-group { 
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.fcf-input-group {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input {
    width: 100%;
    border: 1px solid orange;
    background: #FFF;
    padding: 10px;
}

textarea {
    height: 100px;
    width: 100%;
    resize: none;
    border: 1px solid orange;
    background: #FFF;
    padding: 10px;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-form-group .btn--outline {
    color: gray;
    border: 1px solid orange;
}

.fcf-form-group .btn--outline:hover {
    background-color: #242424;
    color: #fff;
}

