form {
    width: 25%;
    margin-top: 5rem;
}


#fcf-form {
    display: block;
    margin-top: 5px;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
    border-radius: 0.25rem;
    font-family: 'PT Sans', sans-serif;
}

.fcf-form-group { 
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    max-width: 100%;
}

input {
    width: 85%;
    box-sizing: border-box;
    height: 25px;
}

textarea {
    width: 85%;
    height: 100px;
    box-sizing: border-box;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-form-group .btn--outline {
    color: gray;
    border: 1px solid gray;
}

.fcf-form-group .btn--outline:hover {
    background-color: #242424;
    color: #fff;
}

