.faqs-container {
    background: #fff;
    padding-top: 3rem;
    min-height: calc(100vh - 260px);
}

.faqs-container > h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: #777;
    font-weight: 300;
}

