.scheduling-container {
    /* height: 100vh; */
    /* width: 100%; */
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: insert 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
} 
.scheduling-container h1 {
    color: #777;
    display: block;
    font-weight: 300;
    padding-bottom: 1rem;
}

#contact-container {
    align-items: center;
    margin-bottom: 1rem;
}

.address-container > p {
    color: #777;
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    padding: 1rem;
    
}

.address-container > ul {
    display: flex;
    color: darkgray;
    text-align: center;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 2;
    grid-gap: 40px;
    list-style-type: none;

}

#contact-container p {
    color: #777;
    text-align: center;
    font-size: 26px;
    line-height: 36px;
}

#contact-container a {
    color: darkgray;
    display: inline;
    text-decoration: none;
    height: 100%;
}

#contact-container a:hover {
    color: #242424;
    border-bottom: 4px solid #242424;
    transition: all 0.2s ease-out;
}

.scheduling-container .btn--outline {
    color: darkgray;
    border: 1px solid orange
}

.scheduling-container .btn--outline:hover {
    background-color: #242424;
    border: 1px solid black;
    color: #fff;
}

@media screen and (max-width: 960px) {

    .address-container > ul {
        padding-top: 10px;
        flex-direction: column;
    }

}
