
.services-container {
    /* background: center center/cover no-repeat; */
    border: 1px solid gray;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 4rem;
    flex-direction: column;
}

/* .services-container > h2 {
    color: #474242;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: -100px;
} */

.services-container > p {
    font-size: 25px;
    display: inline;
    text-align: justify;
    line-height: var(--line-height);
    padding: 0.3rem 0;
}