
.services-container {
    /* background: center center/cover no-repeat; */
    display: flex;
    align-items: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    flex-direction: column;
    min-height: calc(100vh - 260px);
}

/* .services-container > h2 {
    color: #474242;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: -100px;
} */

.services-container > p {
    display: inline;
    text-align: justify;
    line-height: var(--line-height);
    padding: 0.3rem 0;
}