.welcome-container {
    background: linear-gradient(90deg, rgb(116, 117, 122) 0%, rgb(26, 23, 23) 100%);
    color: #fff;
    padding: 4rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.welcome-container h2 {
    align-self: center;
    line-height: 36px;
}

.welcome-container p { 
    align-self: center;
    font-size: 18px;
    max-width: 57rem;
    text-align: center;
    line-height: 36px;
    /* line-height: var(--line-height); */
}